.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 18rem;
  text-align: left;
  padding: 1.3125rem;
  border-bottom: 1px solid hsl(236, 33%, 92%);
}
.noteText {
  display: flex;
  align-items: center;
}
.noteText p {
  font-size: 0.85rem;
}
button {
  border: none;
}
.noteCheck {
  margin-right: 1rem;
  padding: 0;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
}
.noteDeleted {
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
